.RRPublish *,
table.divDetailsParent * {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}
.RRPublish {
  vertical-align: top;
  font-size: 16px;
}
.RRPublish table {
  table-layout: auto;
}
.RRPublish table td,
.RRPublish table th {
  border: 0;
}
.RRPublish input[type="text"] {
  color: #444;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #efefef inset;
  font-size: 1em;
  width: 250px;
}
.RRPublish select {
  min-height: 26px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
}
@media only screen and (max-width: 640px) {
  .RRPublish button,
  .RRPublish input[type="button"],
  .RRPublish input[type="submit"],
  .RRPublish input[type="text"],
  .RRPublish select {
    font-size: 16px;
  }
}
.RRPublish .Loading,
table.divDetailsParent .Loading {
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(graphics/loading.gif);
}
.RRPublish div.ListControl {
  padding: 2px 1% 1px 1%;
  background-color: #f7f7f7;
  position: relative;
  border-bottom: 1px solid #ccc;
  min-height: 41px;
}
.RRPublish > div.ListControl > div.ListBack {
  width: 15%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(graphics/back.png);
  background-size: 16px 16px;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  padding: 5px 6px 5px 19px;
  color: #303099;
}
.RRPublish > div.ListControl > div.ListBack:hover {
  border: 1px solid #ccc;
}
.RRPublish > div.ListControl > div.ListControlPDF {
  display: inline-block;
  width: 25%;
  padding: 8px 2px 8px 30px;
  cursor: pointer;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 9px center;
  background-image: url(graphics/pdf.gif);
}
.RRPublish > div.ListControl > div.ListControlPDF:hover {
  text-decoration: underline;
}
.RRPublish > div.ListControl > div.ListControlSearch {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  float: right;
  padding-top: 5px;
  padding-bottom: 2px;
}
.RRPublish > div.ListControl > div.ListControlSearch > input {
  width: 49%;
  background-image: url(graphics/search.png);
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 27px;
  border-radius: 5px 0 0 5px;
  border-right-width: 0;
  background-position: 7px center;
}
.RRPublish > div.ListControl > div.ListControlSearch > * {
  vertical-align: middle;
  line-height: 19px;
}
.RRPublish > div.ListControl > div.ListControlSearch > button.btnFavorites {
  background-image: url(/RRPublish/graphics/nostar.gif);
  background-repeat: no-repeat;
  background-size: 19px 16px;
  background-position: center;
  width: 14%;
  margin-left: 1%;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
}
.RRPublish
  > div.ListControl
  > div.ListControlSearch
  > button.btnFavorites.checked {
  background-image: url(/RRPublish/graphics/star.gif);
  background-color: #ffe69c;
}
.RRPublish > div.ListControl > div.ListControlSearch > button.btnSearch {
  background-color: #4a8af6;
  color: #fff;
  padding: 3px 10px 0 10px;
  height: 27px;
  width: 25%;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #3a7ae6;
  border-radius: 0;
  font-size: 0.9em;
}
.RRPublish
  > div.ListControl
  > div.ListControlSearch
  > button.btnSearch:disabled {
  background-color: #888;
  border: 1px solid #777;
  cursor: default;
}
.RRPublish > div.ListControl > div.ListControlSearch > button.btnClearSearch {
  background-color: #888;
  border: 1px solid #777;
  padding: 5px;
  height: 27px;
  cursor: pointer;
  width: 10%;
  border-radius: 0 4px 4px 0;
  border-left: 0;
}
@media only screen and (min-width: 721px) {
  .RRPublish > div.ListControl > div.ListControlSearch > input[type="text"] {
    font-size: 0.9em;
  }
}
.RRPublish > div.ListControl.HasSelector > div.ListBack,
.RRPublish > div.ListControl.OnlyOneList > div.ListBack {
  display: none;
}
@media only screen and (max-width: 750px) {
  .RRPublish > div.ListControl > div.ListBack {
    width: 25%;
  }
  .RRPublish > div.ListControl > div.ListControlSearch {
    width: 30%;
    padding-right: 0;
    padding-top: 1px;
    white-space: nowrap;
  }
  .RRPublish > div.ListControl > div.ListControlSearch > button.btnSearch {
    display: none;
  }
  .RRPublish > div.ListControl > div.ListControlSearch > button.btnClearSearch {
    width: 15%;
    height: 28px;
    display: none;
  }
  .RRPublish > div.ListControl > div.ListControlSearch > input {
    background-position: center center;
    background-size: 20px;
    height: 28px;
    border-radius: 5px;
    border-right-width: 1px;
    width: 57%;
  }
  .RRPublish > div.ListControl > div.ListControlSearch > input::placeholder {
    color: transparent;
  }
  .RRPublish > div.ListControl > div.ListControlSearch > button.btnFavorites {
    width: 40%;
    margin-left: 3%;
    height: 28px;
  }
  .RRPublish > div.ListControl > div.ListControlLiveUpdate {
    width: 45%;
    font-size: 0.9em;
  }
  .RRPublish > div.ListControl > div.ListControlPDF {
    display: none;
  }
  .RRPublish
    > div.ListControl.SearchFocus
    > div.ListControlSearch
    > button.btnClearSearch {
    height: 28px;
    display: inline;
  }
  .RRPublish > div.ListControl.SearchFocus > div.ListControlSearch > input {
    border-radius: 5px 0 0 5px;
    background-size: 16px;
  }
  .RRPublish > div.ListControl.SearchFocus > div.ListBack {
    display: none;
  }
  .RRPublish > div.ListControl.SearchFocus > div.RRLiveUpdate {
    display: none;
  }
  .RRPublish > div.ListControl.SearchFocus > div.ListControlSearch {
    width: 100%;
  }
  .RRPublish > div.ListControl.SearchFocus > div.ListControlSearch > input {
    width: 70%;
    background-position: 4px center;
  }
  .RRPublish
    > div.ListControl:not(.SearchFocus)
    > div.ListControlSearch
    > input.filled {
    background: none;
    padding-left: 4px;
  }
  .RRPublish
    > div.ListControl.SearchFocus
    > div.ListControlSearch
    > input::placeholder {
    color: #999;
  }
  .RRPublish
    > div.ListControl.SearchFocus
    > div.ListControlSearch
    > button.btnFavorites {
    width: 14%;
    margin-left: 1%;
  }
}
.RRPublish > div.SelectorParent {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5000 !important;
}
.RRPublish > div.SelectorParent > div.Selector {
  padding: 8px 0.5% 8px 0.5%;
  background-color: #e3e3e3;
  border-bottom: 1px solid #ccc;
}
.RRPublish > div.SelectorParent > div.Selector.hasLabel {
  padding-top: 2px;
  padding-bottom: 3px;
}
.RRPublish > div.SelectorParent > div.Selector:empty {
  display: none;
}
.RRPublish > div.SelectorParent > div.Selector > div {
  display: inline-block;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.RRPublish > div.SelectorParent > div.Selector > div > span {
  font-size: 0.8em;
}
.RRPublish > div.SelectorParent > div.Selector:not(.hasLabel) > div > span {
  display: none;
}
.RRPublish > div.SelectorParent > div.Selector > div > select {
  background-color: #fafafa;
  color: #444;
  padding: 2px 6px 2px 6px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #aaa;
  width: 100%;
}
.RRPublish
  > div.SelectorParent
  > div.Selector
  div:first-child:nth-last-child(1) {
  width: 99%;
}
.RRPublish
  > div.SelectorParent
  > div.Selector
  div:first-child:nth-last-child(2),
.RRPublish
  > div.SelectorParent
  > div.Selector
  div:first-child:nth-last-child(2)
  ~ div {
  width: 49%;
}
.RRPublish
  > div.SelectorParent
  > div.Selector
  div:first-child:nth-last-child(3),
.RRPublish
  > div.SelectorParent
  > div.Selector
  div:first-child:nth-last-child(3)
  ~ div {
  width: 32.3333%;
}
.RRPublish
  > div.SelectorParent
  > div.Selector
  div:first-child:nth-last-child(4),
.RRPublish
  > div.SelectorParent
  > div.Selector
  div:first-child:nth-last-child(4)
  ~ div {
  width: 24%;
}
.RRPublish > div.SelectorParent > div.SelectorMenu {
  position: relative;
}
.RRPublish > div.SelectorParent > div.SelectorMenu > div {
  width: 100%;
  background-color: #555;
}
.RRPublish > div.SelectorParent > div.SelectorMenu > div > div:nth-child(1) {
  background-color: #354f6c;
  color: #eee;
  padding: 8px 36px 7px 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu
  > div.selectorResult
  > div:nth-child(1) {
  background-color: #983f3f;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu
  > div
  > div:nth-child(1):after {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 3px;
  top: 4px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/RRPublish/graphics/arrowRight.svg);
  background-size: 28px 28px;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu
  > div.RRPcollapse
  > div:nth-child(1):after {
  transform: none;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu.count1
  > div
  > div:nth-child(1) {
  padding: 10px 36px 10px 10px;
  min-height: 41px;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu.count1
  > div
  > div:nth-child(1):after {
  top: 8px;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu
  > div
  > div:nth-child(2)
  > div {
  padding: 10px 36px 8px 25px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu
  > div
  > div:nth-child(2)
  > div.selected {
  font-weight: bold;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu
  > div
  > div:nth-child(2)
  > div:hover {
  background-color: #ddd;
}
.RRPublish > div.SelectorParent > div.SelectorMenu > div > div:nth-child(2) {
  max-height: 175px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: max-height 0.2s ease-in;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu
  > div.RRPcollapse
  > div:nth-child(2) {
  max-height: 0 !important;
}
.RRPublish
  > div.SelectorParent
  > div.SelectorMenu
  > div:not(.RRPcollapse):last-child
  > div:nth-child(2) {
  border-bottom: 1px solid #354f6c;
}
@media only screen and (max-width: 640px) {
  .RRPublish > div.SelectorParent > div.Selector {
    display: none;
  }
}
@media only screen and (min-width: 641px) {
  .RRPublish > div.SelectorParent > div.SelectorMenu {
    display: none;
  }
}
.RRPublish > div.Tiles {
  text-align: left;
  padding: 0 0 10px 0;
  max-width: 1150px;
  display: flex;
  flex-wrap: wrap;
}
.RRPublish > div.Tiles > div {
  width: 31.3%;
  margin: 1% 1% 1% 1%;
  padding: 0 0 3px 0;
  background-color: #fff;
  position: relative;
  border: 1px solid #ddd;
}
@media only screen and (max-width: 700px) {
  .RRPublish > div.Tiles > div {
    width: 48%;
  }
}
@media only screen and (max-width: 600px) {
  .RRPublish > div.Tiles > div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .RRPublish > div.Tiles {
    padding: 7px;
  }
}
.RRPublish > div.Tiles > div.Tile1 {
  width: 100%;
  min-height: 190px;
}
.RRPublish > div.Tiles > div > div {
  width: calc(100% + 2px);
  font-size: 1em;
  margin: -1px -1px 5px -1px;
  text-align: left;
  padding: 0;
  color: #fff;
  background-color: #777;
  height: 45px;
  display: table;
}
.RRPublish > div.Tiles > div > div > div {
  padding: 0 0 0 8px;
  display: table-cell;
  vertical-align: middle;
}
.RRPublish > div.Tiles > div > table {
  width: 100%;
  border-spacing: 0;
}
.RRPublish > div.Tiles > div > table tr:hover {
  background-color: #ddd;
}
.RRPublish > div.Tiles > div > table > tbody > tr > td {
  padding: 3px 3px 3px 8px;
  font-size: 0.95em;
  cursor: pointer;
  text-align: left;
}
@media only screen and (max-width: 640px) {
  .RRPublish > div.Tiles > div > table > tbody > tr > td {
    padding: 6px 3px 6px 8px;
    font-size: 1em;
  }
}
.RRPublish > div.MainDiv {
  background-color: #fff;
}
.RRPublish table.MainTable {
  width: 100%;
  border-spacing: 0;
  background-color: #fff;
  border-collapse: separate;
}
.RRPublish table.MainTable th {
  text-align: left;
  vertical-align: top;
  background-color: #f3f3f3;
  padding-top: 8px;
  white-space: nowrap;
  padding: 5px 2px 5px 2px !important;
}
.RRPublish table.MainTable td {
  padding: 5px 2px 5px 2px !important;
}
.RRPublish table.MainTable > tbody > tr.LastRecordLine > td {
  border-bottom: #ddd 1px solid;
}
.RRPublish table.MainTable td:first-child {
  padding: 0;
}
.RRPublish table.MainTable td.listGrouping {
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
  padding: 5px 2px 1px 2px;
  background-color: #f3f3f6;
  font-size: 1em;
  font-weight: bold;
  color: #333;
}
.RRPublish table.MainTable td.listGrouping > div {
  overflow: hidden;
}
.RRPublish tr.Favorite + tr.brokeCols + tr.brokeColsButtons td:first-child,
.RRPublish tr.Favorite + tr.brokeCols td:first-child,
.RRPublish tr.Favorite td:first-child {
  padding: 0;
  cursor: pointer;
  background-color: #ffe085;
  min-width: 6px;
}
.RRPublish tr.Hover > td:last-child {
  padding-right: 19px;
  max-width: 0.1%;
}
.RRPublish table:not(.hasBrokeCols) tr.Hover > td:last-child {
  min-width: 19px;
  background-repeat: no-repeat;
  background-size: 19px 16px;
  background-position: right center;
  cursor: pointer;
}
.RRPublish table:not(.hasBrokeCols) tr.Hover:not(.MultiLine) td:last-child {
  background-image: url(/RRPublish/graphics/nostar2.gif);
}
@media only screen and (min-width: 641px) {
  .RRPublish
    table:not(.hasBrokeCols)
    tr.Hover:not(.MultiLine):hover
    td:last-child {
    background-image: url(/RRPublish/graphics/nostar.gif);
  }
}
.RRPublish
  table:not(.hasBrokeCols)
  tr.Favorite:not(.MultiLine):not(.brokeCols)
  td:last-child {
  background-image: url(/RRPublish/graphics/star.gif);
}
.RRPublish table:not(.hasBrokeCols) tr.Favorite td:first-child {
  background-color: initial;
}
.RRPublish
  table:not(.hasBrokeCols)
  tr.Favorite:not(.MultiLine):not(.brokeCols):hover
  td:last-child {
  background-image: url(/RRPublish/graphics/star.gif);
}
.RRPublish table:not(.hasBrokeCols) td.Comments0 {
  padding: 0 0 0 21px !important;
  width: 21px;
  background-image: url(/RRPublish/graphics/comment_16b.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
}
.RRPublish table:not(.hasBrokeCols) td.Comments1 {
  padding: 0 0 0 21px !important;
  width: 21px;
  background-image: url(/RRPublish/graphics/comment_16.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  color: #a00;
  text-align: center;
}
.RRPublish a.aShowAll {
  font-size: 0.9em;
  font-style: italic;
  color: #1a4af6;
  cursor: pointer;
  line-height: 200%;
  margin-right: 3px;
}
.RRPublish div.RRPInfoText {
  padding: 10px 10px 0 10px;
}
.RRPublish div.RRPInfoText img {
  max-width: 100%;
}
@media only screen and (max-width: 640px) {
  .RRPublish a.aShowAll {
    font-size: 14px;
    margin-right: 5px;
    background-color: #41556b;
    color: #eee;
    padding: 6px 4px;
    border-radius: 6px;
    line-height: 35px;
  }
}
@media only screen and (min-width: 641px) {
  .RRPublish tr.Hover:hover {
    background-color: #fc3;
  }
}
.RRPublish div.ListHeaderFooter {
  padding: 10px;
  max-width: 1150px;
}
.RRPublish table.hasBrokeCols > tbody > tr.Hover:hover {
  background-color: initial;
}
.RRPublish table.hasBrokeCols > tbody > tr.open,
.RRPublish table.hasBrokeCols > tbody > tr.open:hover {
  background-color: #f3f3f3;
}
.RRPublish table.hasBrokeCols > tbody > tr.brokeCols {
  background-color: #e9e9e9;
}
.RRPublish table.hasBrokeCols > tbody > tr.brokeColsButtons {
  background-color: #e2e2e2;
}
.RRPublish table.hasBrokeCols > tbody > tr.open > td {
  border-bottom: 0;
}
.RRPublish table.hasBrokeCols > tbody > tr:not(.open) + tr.brokeCols,
.RRPublish
  table.hasBrokeCols
  > tbody
  > tr:not(.open)
  + tr.brokeCols
  + tr.brokeColsButtons {
  display: none;
}
.RRPublish table.hasBrokeCols > tbody > tr.brokeCols > td:last-child {
  color: #333;
  padding: 4px 25px 3px 2px;
}
.RRPublish table.hasBrokeCols > tbody > tr.brokeColsButtons > td {
  border-bottom: 1px solid #ddd;
}
.RRPublish table.hasBrokeCols > tbody > tr.Hover > td:last-child {
  position: relative;
  min-width: 16px;
}
.RRPublish table.hasBrokeCols > tbody > tr.Hover > td:last-child:after {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 3px;
  top: 50%;
  margin-top: -8px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/RRPublish/graphics/arrowRight.svg);
  background-size: 20px 20px;
  transform: rotate(0);
  transform-origin: 50% 50%;
}
.RRPublish table.hasBrokeCols > tbody > tr.open > td:last-child:after {
  transform: rotate(90deg);
}
.RRPublish
  table.hasBrokeCols
  > tbody
  > tr.brokeCols.withDetails
  > td:last-child {
  position: relative;
}
.RRPublish
  table.hasBrokeCols
  > tbody
  > tr.brokeCols.withDetails
  > td:last-child:after {
  height: 100%;
  width: 35px;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/RRPublish/graphics/arrowRight.svg);
  background-size: 80% 80%;
  background-position: right center;
  transform: rotate(0);
  transform-origin: 50% 50%;
}
.RRPublish
  table.hasBrokeCols
  > tbody
  > tr.brokeCols.withDetails
  > td:nth-child(2) {
  height: 40px;
}
.RRPublish table.hasBrokeCols > tbody > tr.brokeCols > td > div {
  display: table-row;
}
.RRPublish table.hasBrokeCols > tbody > tr.brokeCols > td > div > div {
  display: table-cell;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 2px;
}
.RRPublish div.Favorite,
.RRPublish div.NoFavorite {
  background-repeat: no-repeat;
  background-size: 19px 16px;
  background-position: 5px center;
  width: 50%;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 4px 0 3px 28px;
  display: inline-block;
  cursor: pointer;
}
.RRPublish div.Favorite {
  background-image: url(/RRPublish/graphics/star.gif);
}
.RRPublish div.NoFavorite {
  background-image: url(/RRPublish/graphics/nostar.gif);
}
.RRPublish div.CommentInfo {
  font-size: 1em;
  float: right;
  padding: 4px 3px 3px 28px;
  display: inline-block;
  background-image: url(/RRPublish/graphics/comment_16b.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 5px center;
}
@media only screen and (max-width: 890px) {
  .RRPublish table.MainTable {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 700px) {
  .RRPublish div.ListHeaderFooter {
    font-size: 0.8em;
  }
}
div.divRRPublishDetailsFader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index: 9999;
}
table.divDetailsParent {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
}
table.divDetailsParent > tbody > tr,
table.divDetailsParent > tbody > tr > td {
  background-color: transparent !important;
}
table.divDetailsParent div.divDetailsOuter {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
table.divDetailsParent div.divDetails {
  background-color: #f7f7f7;
  color: #2c2c2c;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}
table.divDetailsParent div.divDetailsInner {
  padding: 0 10px 50px 10px;
  font-size: 95%;
  height: 100%;
  overflow: auto;
}
table.divDetailsParent div.divDetailsInner > div {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
}
table.divDetailsParent div.divDetailsInner > div:empty {
  display: none;
}
table.divDetailsParent div.divDetailsInner > div > div:first-child {
  width: calc(100% + 2px);
  font-size: 18px;
  margin: -1px -1px 0 -1px;
  text-align: left;
  padding: 6px 0 5px 7px;
  color: #fff;
  background-color: #777;
}
table.divDetailsParent div.divDetailsInner > div.divDetailsHead {
  border: none;
  font-size: 1.5em;
  margin: 0 -9px 10px -10px;
  width: auto;
  position: sticky;
  top: 0;
}
table.divDetailsParent div.divDetailsInner > div.divDetailsHead > div {
  padding: 12px 10px;
  background-color: #555;
}
table.divDetailsParent div.divDetailsInner > div.divDetailsHeadText {
  border: none;
  background-color: transparent;
}
table.divDetailsParent div.divDetailsInner > div.divDetailsHeadText > div {
  color: #2c2c2c;
  background-color: transparent;
  padding: 0 2px;
}
table.divDetailsParent img.imgDetailsClose {
  position: absolute;
  right: 32px;
  top: 16px;
  z-index: 5001;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}
table.divDetailsParent div.divCloseBar {
  width: 100%;
  background-color: #f7f7f7;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(/RRPublish/graphics/arrowLeft.svg);
  background-size: 32px 32px;
  border-bottom: 1px solid #ccc;
  color: #303099;
  font-size: 16px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5000;
  height: 38px;
  display: table;
}
table.divDetailsParent div.divCloseBar > div {
  top: 50%;
  margin: -19px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 28px;
}
table.divDetailsParent div.Favorite,
table.divDetailsParent div.NoFavorite {
  padding: 6px 0 4px 28px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 19px 16px;
  background-position: 5px center;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #eee;
}
table.divDetailsParent div.divDetailsInner.WithLiveUpdate div.Favorite,
table.divDetailsParent div.divDetailsInner.WithLiveUpdate div.NoFavorite {
  width: CALC(99% - 170px);
  margin-right: 1%;
  display: inline-block;
}
table.divDetailsParent div.Favorite {
  background-image: url(/RRPublish/graphics/star.gif);
}
table.divDetailsParent div.NoFavorite {
  background-image: url(/RRPublish/graphics/nostar.gif);
}
@media only screen and (max-width: 1020px) and (min-height: 600px) and (min-width: 600px) {
  table.divDetailsParent div.divDetailsOuter {
    width: 90%;
  }
}
@media only screen and (min-height: 600px) and (min-width: 600px) {
  table.divDetailsParent div.divDetailsInner {
    padding: 0 10px 0 10px;
  }
  table.divDetailsParent > tbody > tr > td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  table.divDetailsParent div.divDetails {
    width: 100%;
    max-width: 970px;
    max-height: 500px;
    height: auto;
    position: relative;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 0 9px 2px #aaa;
  }
  table.divDetailsParent div.divDetailsOuter {
    width: 95%;
    max-width: 970px;
    position: relative;
    margin: 0 auto 0 auto;
  }
  table.divDetailsParent img.imgDetailsClose {
    right: -16px;
    top: -16px;
    display: block;
  }
  table.divDetailsParent div.divCloseBar {
    display: none;
  }
  table.divDetailsParent div.divBottomClose {
    display: none;
  }
}
table.divDetailsParent div.LegsInner,
table.divDetailsParent div.SplitsInner {
  padding: 5px;
  overflow: auto;
}
table.divDetailsParent div.LegsInner > div,
table.divDetailsParent div.SplitsInner > div {
  width: 100%;
  display: table;
}
table.divDetailsParent div.LegsInner > div > div,
table.divDetailsParent div.SplitsInner > div > div {
  display: table-row;
}
table.divDetailsParent div.LegsInner > div > div > div,
table.divDetailsParent div.SplitsInner > div > div > div {
  display: table-cell;
  white-space: nowrap;
}
table.divDetailsParent div.LegsInner > div > div:nth-child(1) > div,
table.divDetailsParent div.SplitsInner > div > div:nth-child(1) > div {
  font-weight: bold;
}
table.divDetailsParent div.LegsInner > div > div > div:nth-child(2),
table.divDetailsParent div.LegsInner > div > div > div:nth-child(3),
table.divDetailsParent div.LegsInner > div > div > div:nth-child(4),
table.divDetailsParent div.LegsInner > div > div > div:nth-child(5),
table.divDetailsParent div.LegsInner > div > div > div:nth-child(6) {
  text-align: right;
}
table.divDetailsParent div.LegsInner > div > div > div:nth-child(1) {
  font-weight: bold;
}
table.divDetailsParent div.LegsInner > div > div > div:nth-child(2) {
  width: 10%;
}
table.divDetailsParent div.LegsInner > div > div > div:nth-child(3) {
  width: 10%;
}
table.divDetailsParent div.LegsInner > div > div > div:nth-child(4) {
  width: 10%;
}
table.divDetailsParent div.LegsInner > div > div > div:nth-child(5) {
  width: 10%;
}
table.divDetailsParent div.LegsInner > div > div > div:nth-child(6) {
  width: 10%;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(2),
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(3),
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(4),
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(5),
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(6),
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(7),
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(8),
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(9) {
  text-align: right;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(1) {
  font-weight: bold;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(2) {
  width: 10%;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(3) {
  width: 10%;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(4) {
  width: 10%;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(5) {
  width: 10%;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(6) {
  width: 10%;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(7) {
  width: 10%;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(8) {
  width: 10%;
}
table.divDetailsParent div.SplitsInner > div > div > div:nth-child(9) {
  width: 10%;
}
table.divDetailsParent div.LegsInner > div > div > div,
table.divDetailsParent div.SplitsInner > div > div > div {
  padding: 6px;
}
table.divDetailsParent
  div.LegsInner
  > div
  > div
  > div
  > span:not(.rrSplitsLabel),
table.divDetailsParent
  div.SplitsInner
  > div
  > div
  > div
  > span:not(.rrSplitsLabel) {
  font-size: 0.8em;
  color: #bbb;
  margin-left: 2px;
}
table.divDetailsParent div.LegsInner > div > div > div > span.rrSplitsLabel,
table.divDetailsParent div.SplitsInner > div > div > div > span.rrSplitsLabel {
  display: none;
}
table.divDetailsParent div.LegsInner > div > div:nth-child(even),
table.divDetailsParent div.SplitsInner > div > div:nth-child(even) {
  background-color: #f5f5f5;
}
table.divDetailsParent div.LegsInner > div > div:hover:not(:first-child),
table.divDetailsParent div.SplitsInner > div > div:hover:not(:first-child) {
  background-color: #fd2;
}
table.divDetailsParent
  div.LegsInner
  > div
  > div.predicted
  > div:not(:first-child),
table.divDetailsParent
  div.SplitsInner
  > div
  > div.predicted
  > div:not(:first-child) {
  color: #ccc;
}
table.divDetailsParent div.LegsInner > div.Prediction,
table.divDetailsParent div.SplitsInner > div.Prediction {
  display: block;
  width: auto;
  font-size: 0.8em;
  color: #bbb;
  padding-top: 4px;
  margin: 2px 5px 0 5px;
  border-top: 1px solid #eee;
}
@media only screen and (max-width: 799px) {
  table.divDetailsParent div.LegsInner,
  table.divDetailsParent div.SplitsInner {
    padding: 2px 0 2px 0;
  }
  table.divDetailsParent div.LegsInner > div,
  table.divDetailsParent div.SplitsInner > div {
    width: 100%;
    display: block;
  }
  table.divDetailsParent div.LegsInner > div > div,
  table.divDetailsParent div.SplitsInner > div > div {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  table.divDetailsParent div.LegsInner > div > div > div,
  table.divDetailsParent div.SplitsInner > div > div > div {
    display: block;
    text-align: left !important;
  }
  table.divDetailsParent div.LegsInner > div > div:first-child {
    display: none;
  }
  table.divDetailsParent
    div.SplitsInner
    > div
    > div:first-child
    > div.tdSplitRA,
  table.divDetailsParent
    div.SplitsInner
    > div
    > div:first-child
    > div.tdSplitRG,
  table.divDetailsParent
    div.SplitsInner
    > div
    > div:first-child
    > div.tdSplitRO,
  table.divDetailsParent
    div.SplitsInner
    > div
    > div:first-child
    > div.tdSplitSpeed,
  table.divDetailsParent
    div.SplitsInner
    > div
    > div:first-child
    > div:nth-child(1) {
    display: none;
  }
  table.divDetailsParent div.LegsInner > div > div,
  table.divDetailsParent div.SplitsInner > div > div {
    background-color: transparent !important;
    border-top: 1px solid #eee;
  }
  table.divDetailsParent div.LegsInner > div > div:first-child,
  table.divDetailsParent div.SplitsInner > div > div:first-child {
    border-top: 0;
    padding-bottom: 1px;
  }
  table.divDetailsParent div.LegsInner > div > div:nth-child(2) {
    border-top: 0;
  }
  table.divDetailsParent div.LegsInner > div > div > div,
  table.divDetailsParent div.SplitsInner > div > div > div {
    padding-bottom: 2px;
    padding-top: 2px;
  }
  table.divDetailsParent div.LegsInner > div > div > div:nth-child(1),
  table.divDetailsParent div.SplitsInner > div > div > div:nth-child(1) {
    font-weight: bold;
    text-align: left !important;
  }
  table.divDetailsParent div.LegsInner > div > div > div:nth-child(1),
  table.divDetailsParent div.LegsInner > div > div > div:nth-child(2) {
    width: 50%;
    display: inline-block;
  }
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitChip,
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitGun,
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitSector,
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitTOD {
    width: 25%;
    display: inline-block;
  }
  table.divDetailsParent div.LegsInner > div > div > div.tdLegSpeed,
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitSpeed {
    display: block;
    color: #aaa;
    font-size: 0.9em;
    width: 100%;
  }
  table.divDetailsParent div.LegsInner > div > div > div.tdLegRA,
  table.divDetailsParent div.LegsInner > div > div > div.tdLegRG,
  table.divDetailsParent div.LegsInner > div > div > div.tdLegRO {
    display: inline-block;
    width: 33.3%;
    color: #aaa;
    font-size: 0.8em;
    padding: 2px 2px 2px 6px;
  }
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitRA,
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitRG,
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitRO {
    display: inline-block;
    width: 33.3%;
    color: #aaa;
    font-size: 0.8em;
    padding: 2px 2px 2px 6px;
  }
  table.divDetailsParent div.LegsInner > div > div > div.tdLegChip:empty,
  table.divDetailsParent div.LegsInner > div > div > div.tdLegSector:empty,
  table.divDetailsParent div.LegsInner > div > div > div.tdLegSpeed:empty {
    display: none;
  }
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitRA:empty,
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitRG:empty,
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitRO:empty,
  table.divDetailsParent div.SplitsInner > div > div > div.tdSplitSpeed:empty {
    display: none;
  }
  table.divDetailsParent div.LegsInner > div > div > div > span.rrSplitsLabel,
  table.divDetailsParent
    div.SplitsInner
    > div
    > div
    > div
    > span.rrSplitsLabel {
    display: inline;
  }
}
table.divDetailsParent div.divDetailsResults {
}
table.divDetailsParent div.divDetailsResults > div {
  padding: 6px;
  margin-top: 6px;
  overflow-x: auto;
  overflow-y: hidden;
}
table.divDetailsParent div.divDetailsResults > div > table {
  border-spacing: 0;
  color: #000;
  width: 100%;
}
table.divDetailsParent div.divDetailsResults > div > table th {
  padding: 3px;
}
table.divDetailsParent div.divDetailsResults > div > table td {
  padding: 2px 3px 2px 3px;
  border-top: 1px solid #ddd;
  white-space: nowrap;
}
table.divDetailsParent div.divDetailsCertificates > div:nth-child(2) {
  padding: 4px;
}
table.divDetailsParent div.divDetailsCertificates > div:nth-child(2) > div {
  display: inline-block;
  margin: 4px;
  text-align: center;
  cursor: pointer;
}
table.divDetailsParent
  div.divDetailsCertificates
  > div:nth-child(2)
  > div
  > img {
  height: 160px;
  border: 1px solid #ccc;
}
table.divDetailsParent div.divDetailsComments {
  font-size: 0.9em;
}
table.divDetailsParent
  div.divDetailsComments
  > div:nth-child(2)
  > div:nth-child(1)
  > div {
  padding: 5px 8px 4px 8px;
}
table.divDetailsParent
  div.divDetailsComments
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > span {
  color: #888;
  font-size: 0.9em;
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}
table.divDetailsParent div.divDetailsComments div.WriteComment {
  padding: 10px;
  text-align: right;
}
table.divDetailsParent div.divDetailsComments div.WriteComment2 > div {
  padding: 10px 0;
  text-align: right;
}
table.divDetailsParent div.divDetailsComments div.WriteComment button,
table.divDetailsParent div.divDetailsComments div.WriteComment2 button {
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 4px;
  padding: 4px 10px;
  min-width: 120px;
}
table.divDetailsParent
  div.divDetailsComments
  div.WriteComment2
  button:disabled {
  cursor: default;
}
table.divDetailsParent
  div.divDetailsComments
  div.WriteComment2
  button:not(:disabled):hover {
  background-color: #ddd;
}
table.divDetailsParent div.divDetailsComments div.WriteComment2 {
  background-color: #f3f3f3;
  padding: 8px 8px 0 8px;
  text-align: left;
  font-size: 0.85em;
}
table.divDetailsParent
  div.divDetailsComments
  div.WriteComment2
  input:nth-child(2) {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 5px;
}
table.divDetailsParent div.divDetailsPhotos > div:nth-child(2) {
  padding: 4px;
}
table.divDetailsParent div.divDetailsPhotos > div:nth-child(2) img {
  margin: 4px;
  display: inline;
  height: 120px;
}
table.divDetailsParent div.divDetailsLinks {
}
table.divDetailsParent div.divDetailsLinks > div {
  padding: 4px;
}
table.divDetailsParent div.divDetailsLinks > div:nth-child(2) > div {
  display: inline-block;
  margin: 4px;
  text-align: center;
  cursor: pointer;
}
table.divDetailsParent div.divDetailsLinks > div:nth-child(2) img {
  max-height: 160px;
  max-width: 250px;
}
table.divDetailsParent div.divDetailsSocial {
}
table.divDetailsParent div.divDetailsSocial > div:nth-child(2) {
  padding: 8px;
}
table.divDetailsParent div.divDetailsSocial > div:nth-child(2) > img {
  margin: 5px 10px 0 4px;
}
div.LiveUpdateContinue {
  position: fixed;
  z-index: 11000;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: -150px;
  background-color: #f3f3f3;
  padding: 30px 10px 60px 10px;
  border-top: 1px solid #c4c9d0;
  border-bottom: 1px solid #c4c9d0;
}
div.LiveUpdateContinue > div:nth-child(1) {
  font-size: 3em;
  text-align: center;
  color: #3875cb;
  padding-bottom: 30px;
  padding-top: 30px;
}
div.LiveUpdateContinue > div:nth-child(2) {
  font-size: 1.5em;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  div.LiveUpdateContinue {
    padding: 10px 10px 40px 10px;
  }
  div.LiveUpdateContinue > div:nth-child(1) {
    font-size: 1.6em;
  }
  div.LiveUpdateContinue > div:nth-child(2) {
    font-size: 1.1em;
  }
}
div.RRLiveUpdate {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
  overview: hidden;
  white-space: nowrap;
  padding: 3px 3px 3px 40px;
  margin-top: 3px;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-image: url(graphics/liveUpdate.gif);
}
div.RRLiveUpdateLoading {
  background-image: url(graphics/loading.gif);
  background-size: 16px 16px;
  background-position: 10px center;
}
div.divDetailsInner > div.RRLiveUpdate {
  width: 170px !important;
  border: 0 !important;
  background-color: transparent !important;
}
.RRPublish .tablesorter-default .tablesorter-header {
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}
.RRPublish .tablesorter-default .tablesorter-header > div {
  width: 16px;
  height: 20px;
  display: inline-block;
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position: center;
  background-repeat: no-repeat;
  margin: -2px 0;
  opacity: 0.3;
}
.RRPublish .tablesorter-default thead .tablesorter-headerAsc > div {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  opacity: 1;
}
.RRPublish .tablesorter-default thead .tablesorter-headerDesc > div {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  opacity: 1;
}
